# Liabrary

In [1]:
import pandas as pd
import numpy as np

from scipy import stats

# Dataframe

In [2]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\\Cars - Purchase Decision.csv")

In [3]:
df

     User ID  Gender  Age  AnnualSalary  Purchased
0        385    Male   35         20000          0
1        681    Male   40         43500          0
2        353    Male   49         74000          0
3        895    Male   40        107500          1
4        661    Male   25         79000          0
..       ...     ...  ...           ...        ...
995      863    Male   38         59000          0
996      800  Female   47         23500          0
997      407  Female   28        138500          1
998      299  Female   48        134000          1
999      687  Female   44         73500          0

[1000 rows x 5 columns]

# Observation

Depedent     -  purchased
Indepent     -  AnnualSalary, Gender,	Age

catagory     - Gender,Purchased
continous    - age,annual salary

# supervised classification

# Data cleaning

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User ID       1000 non-null   int64
 1   Gender        1000 non-null   object
 2   Age           1000 non-null   int64
 3   AnnualSalary  1000 non-null   int64
 4   Purchased     1000 non-null   int64
dtypes: int64(4), object(1)
memory usage: 39.2+ KB

In [5]:
df.isnull().sum()

User ID         0
Gender          0
Age             0
AnnualSalary    0
Purchased       0
dtype: int64

In [6]:
df.set_index("User ID",inplace=True)

In [7]:
df.head()

        Gender  Age  AnnualSalary  Purchased
User ID
385       Male   35         20000          0
681       Male   40         43500          0
353       Male   49         74000          0
895       Male   40        107500          1
661       Male   25         79000          0

# Statistical analysis

Continuous - Central Limit Theorem, 1-Tailed Test (one-sample t-test)

Continuous vs. Continuous - Correlation, 2-Tailed Test (two-sample t-test)

Continuous vs. Categorical - ANOVA (Analysis of Variance)

Categorical vs. Categorical - Chi-Square Test

# Hypothesis Testing

Continuous - Age, AnnualSalary
Category - Gender, Purchased

# Central limit theoram

Age - population_mean : 40.106 sample_mean : 40.1015
Annual - population_mean : 72689.0 sample_mean : 72425.16666666667

# 1 tailed test
age- H0 is rejected, Ha is accepted, There is a significant effect
Annual - H0 is rejected, Ha is accepted, There is a significant effect

# 2 tailed test 
H0 is rejected, There is no relationship between two columns we're comparing.

# Chi sqi test
H0 is accepted, There is no relationship between two columns we're comparing

# Anova
Gender,age - H0 is rejected , There is no relationship between two columns we're comparing
Gender,annual- H0 is rejected , There is no relationship between two columns we're comparing
purchased,age - H0 is rejected , There is no relationship between two columns we're comparing
purchased,annual - H0 is rejected , There is no relationship between two columns we're comparing

# Correlation

In [12]:
df.corr(numeric_only=True)

                   Age  AnnualSalary  Purchased
Age           1.000000      0.166042   0.616036
AnnualSalary  0.166042      1.000000   0.364974
Purchased     0.616036      0.364974   1.000000

# Cental Limit Theoram

In [15]:
population=df.Age.values
population_mean=population.mean()
samplesize=150
sample_mean=[]
for i in range(40):
    sample=np.random.choice(population,samplesize)
    sample_mean.append(sample.mean())
np.mean(sample_mean)
print("population_mean :",population_mean,"sample_mean :",np.mean(sample_mean))

population_mean : 40.106 sample_mean : 40.1015

In [17]:
population=df.AnnualSalary.values
population_mean=population.mean()
samplesize=150
sample_mean=[]
for i in range(40):
    sample=np.random.choice(population,samplesize)
    sample_mean.append(sample.mean())
np.mean(sample_mean)
print("population_mean :",population_mean,"sample_mean :",np.mean(sample_mean))

population_mean : 72689.0 sample_mean : 72425.16666666667

# 1 Tailed Test

In [20]:
H0_accepted = 0
H0_rejected = 0
for i in range(30):
  sample = df.Age.sample(frac=0.05)
  t_test, p_value = stats.ttest_1samp(sample,df.Age.mean())
  if p_value > 0.5:
    H0_accepted += 1
  else:
    H0_rejected += 1

print(f"H0 accepted {H0_accepted} times , H0 rejected {H0_rejected} times")
if H0_accepted > H0_rejected:
  print("H0 is accepted, Ha is rejected, There is no significant effect")
else:
  print("H0 is rejected, Ha is accepted, There is a significant effect")

H0 accepted 11 times , H0 rejected 19 times
H0 is rejected, Ha is accepted, There is a significant effect

In [21]:

H0_accepted = 0
H0_rejected = 0
for i in range(30):
  sample = df.AnnualSalary.sample(frac=0.05)
  t_test, p_value = stats.ttest_1samp(sample,df.AnnualSalary.mean())
  if p_value > 0.5:
    H0_accepted += 1
  else:
    H0_rejected += 1

print(f"H0 accepted {H0_accepted} times , H0 rejected {H0_rejected} times")
if H0_accepted > H0_rejected:
  print("H0 is accepted, Ha is rejected, There is no significant effect")
else:
  print("H0 is rejected, Ha is accepted, There is a significant effect")

H0 accepted 14 times , H0 rejected 16 times
H0 is rejected, Ha is accepted, There is a significant effect

# 2 Tailed Test

In [23]:
H0_accepted = 0
H0_rejected = 0
for i in range(20):
  sample1 = df.Age.sample(frac=0.04)
  sample2 = df.AnnualSalary.sample(frac=0.04)
  t_test, p_value = stats.ttest_ind(sample1, sample2)
  if p_value > 0.5:
    H0_accepted += 1
  else:
    H0_rejected += 1

print(f"H0 accepted {H0_accepted} times , H0 rejected {H0_rejected} times")
if H0_accepted > H0_rejected:
  print("H0 is accepted, There is a relationship between two columns we're comparing")
else:
  print("H0 is rejected, There is no relationship between two columns we're comparing.")

H0 accepted 0 times , H0 rejected 20 times
H0 is rejected, There is no relationship between two columns we're comparing.

# Chi Square Test

In [24]:

data = pd.crosstab(df.Gender, df.Purchased)
observed_values = data.values
chi2_stat, p_value, _, _ = stats.chi2_contingency(observed_values)
if p_value > 0.05:
  print("H0 is accepted, There is no relationship between two columns we're comparing")
else:
  print("H0 is rejected, There is a relationship between two columns we're comparing")

H0 is accepted, There is no relationship between two columns we're comparing

# Anova

In [25]:
group=df.Gender.unique()
data={}
for i in group:
    data[i]=df.Age[df.Gender==i]
f_value,p_value=stats.f_oneway(*[data[i] for i in group])
if p_value > 0.5:
    print("H0 is accepting, There is a relationship between two columns we're comparing")
else:
    print("H0 is rejected , There is no relationship between two columns we're comparing")

H0 is rejected , There is no relationship between two columns we're comparing

In [26]:
group=df.Gender.unique()
data={}
for i in group:
    data[i]=df.AnnualSalary[df.Gender==i]
f_value,p_value=stats.f_oneway(*[data[i] for i in group])
if p_value > 0.5:
    print("H0 is accepting, There is a relationship between two columns we're comparing")
else:
    print("H0 is rejected , There is no relationship between two columns we're comparing")

H0 is rejected , There is no relationship between two columns we're comparing

In [27]:
group=df.Purchased.unique()
data={}
for i in group:
    data[i]=df.Age[df.Gender==i]
f_value,p_value=stats.f_oneway(*[data[i] for i in group])
if p_value > 0.5:
    print("H0 is accepting, There is a relationship between two columns we're comparing")
else:
    print("H0 is rejected , There is no relationship between two columns we're comparing")

H0 is rejected , There is no relationship between two columns we're comparing

c:\Users\Saravanan\OneDrive\Desktop\Dataset\.venv\Lib\site-packages\scipy\stats\_stats_py.py:4102: DegenerateDataWarning: at least one input has length 0
  if _f_oneway_is_too_small(samples):

In [28]:
group=df.Purchased.unique()
data={}
for i in group:
    data[i]=df.AnnualSalary[df.Gender==i]
f_value,p_value=stats.f_oneway(*[data[i] for i in group])
if p_value > 0.5:
    print("H0 is accepting, There is a relationship between two columns we're comparing")
else:
    print("H0 is rejected , There is no relationship between two columns we're comparing")

H0 is rejected , There is no relationship between two columns we're comparing